<p class="copyright">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
</p>

<p class="power">
   Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.
   Theme by <a href="https://github.com/iamocean" target="_blank">iamocean</a>.
</p>

